.perfilParticipar {
  margin-top: 20px;
  margin-left: 20%;
}

#alertaParticipante {
  text-align: center;
  margin-top: 20px;
  color: green;
}

#nomeUsuario {
  margin-top: 20px;
  margin-bottom: 20px;
}

.dadosPessoais {
  margin-left: 20%;
}

.profissao {
  margin-left: 20%;
}

.sobre {
  margin-left: 20%;
}

.curriculo {
  margin-left: 20%;
}

.cep {
  margin-left: 20%;
}

.endereco {
  margin-left: 20%;
}

.cidade {
  margin-left: 20%;
}

.uf {
  margin-left: 20%;
}

.estado {
  margin-left: 20%;
}

.linkedin {
  margin-left: 20%;
}

.btnCadParticipante {
  margin-top: 20px;
}

.container-fluid {
  background-color: white;
  height: 790px;
}

.caixaTexto {
  padding-top: 30px;
  padding-left: 20%;
  padding-bottom: 30px;
}

#textoSelecionaPerfil {
  text-align: center;
  font-size: 20px;
}

.botoes {
}

#botao1 {
  display: inline-block;
  width: 50%;
  height: 100px;
  background-color: white;
  text-align: center;
  margin-top: 50px;
}

#botao2 {
  display: inline-block;
  width: 50%;
  height: 100px;
  background-color: white;
  text-align: center;
  margin-top: 50px;
}
